<%- include('./partials/head.ejs') %>
<body>
	<% if (usuario) {%>
		<%- include('./partials/headerLogueado.ejs') %>
	<%} else{ %>
		<%- include('./partials/headerIndex.ejs') %>
	<% }%>

	<!-- Header -->
	
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> <%= user.nombre %>
						<% if (usuario) {%>	
						<% if (usuario.id == user.id) {%>
						<a href="/users/profile-edit/<%= user.id %>">
							<i class="fas fa-cog"></i>
						</a> </h1>
					<% }%>
					<% }%>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>

				</div>
				<div>
					<ul class="">
						<li><%= user.email %></li>
						<li><%= productos.length %> productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
				
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos o ver productos de otro perfil-->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<% if (usuario) {%>	
					<% if (usuario.id == user.id) {%> 
				<h2 class="products-title">Mis productos</h2>
					<%} else{ %>
				<h2 class="products-title">Productos de <%= user.username %></h2>
				<% }%>
					<%} else{ %>
						<h2 class="products-title">Productos de <%= user.username %></h2>
					<% }%>
			</div>
			<!-- Show mis productos -->
			<% for (let i = 0; i < productos.length; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/product/<%=productos[i].id%>">
							<figure class="product-box_image">
								<img src="/images/products/<%= productos[i].foto %>" alt="<%= productos[i].nombre%>">
							</figure>
							<article class="product-box_data">
								<h2><%= productos[i].nombre %></h2>
								<p> <%= productos[i].descripcion %></p>
								<p>Publicado por: <strong><a href="/users/profile/<%=user.id%>"><%-user.username %></a></strong></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% } %> 
		</div>
	</div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>	
</html>