<%- include('./partials/head.ejs') %>

<body>
	<!-- Header -->
	<% if (locals.usuario){%>
		<%- include('./partials/headerLogueado.ejs') %>
	<%} else {%>
		<%- include('./partials/headerIndex.ejs') %>
	<%}%>
	<!-- /Header -->

			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container products-wrapper">
				<div class="row">
					<% if (productosNombre.length !=0 ){ %> 
					<!-- Show the "ultimos" products -->
					<% for (let i = 0; i < productosNombre.length; i++){ %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/product/<%= productosNombre[i].id %>">
								<figure class="product-box_image">
									<img src="<%= productosNombre[i].foto %>" alt="<%= productosNombre[i].nombre%>">
								</figure>
								<article class="product-box_data">
									<h2><%= productosNombre[i].nombre %></h2>
									<p><%= productosNombre[i].descripcion %></p>
									<p>Publicado por: <strong><a href="/users/profile/<%=productosNombre[i].FkUser.id%>"><%-productosNombre[i].FkUser.username%></a></strong></p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>
					<% } %> 
					<% } else { %> 
						<h2>No se encontraron resultados para su busqueda</h2>
						<% } %>
				</div>
			</div>

			<div class="col-12">
			</div>
			<!-- Show the "ultimos" products -->



	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>